<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css"  href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <title>Arvids. Cognizant Project</title>
<link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">

</head>
<body class="full">
  <script>
  function myFunction() {
  if (!isNaN(parseInt(frm1.fname.value))) {
    window.open("/index/"+(parseInt(frm1.fname.value)),"_self");
    }
    else{
    alert("Sorry , Input has to be number");
  }
  }
  </script>
  <div class="containerr w-100">
  <div class="row">
  <div class="col-lg-4 col-md-4 factLogo w-100">
          <h2 class="fact">Fact #1</h2>
          <p class="number" th:text="${Number.number}">1</p>
  </div>
  <div class="col-lg-8 col-md-8 InterestingFac tw-100 ">
       <p>Enter Number:</p>
       <div class="form-group row">
           <form id="frm1">
          <input type="text" name="fname"><br>
          <button type="button" onclick="myFunction()" class="btn btn-danger" >Search</button>
	          <p class="thefact" th:text="${Number.text}">7 is the number of seconds it takes "Superman: Escape from Krypton" roller coaster to go from 0 to 100 miles per hour.</p>
	          </form>
	          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><p>te</p>
      </div>

    </div>

</div>
</div>




    </body>
</html>
